# Prerequisites
*.d

# Object Files
*.o
*.ko
*.obj
*.elf

# Linker Output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared Objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug Files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Debug Information Files
*.dwo

# OS files
*.DS_Store
*.log
*.tmp

# IDE files
*.idea/
*.vscode/
*.user
*.suo
*.vcxproj

# Build system
cmake-build-debug/*
cmake-build-release/*
cmake-build-relwithdebinfo/*
build/*
bin/*
CMakeFiles/*
/Makefile
CMakeCache.txt
